//debug()
@import '_settings'
//@import 'jeet'
@import '_colors'

@import url("//hello.myfonts.net/count/2d95c0");
@font-face {font-family: 'Texta-Black';src: url('/webfonts/2D95C0_0_0.eot');src: url('/webfonts/2D95C0_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_0_0.woff2') format('woff2'),url('/webfonts/2D95C0_0_0.woff') format('woff'),url('/webfonts/2D95C0_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'Texta';font-weight: normal;font-style: normal;src: url('/webfonts/2D95C0_1_0.eot');src: url('/webfonts/2D95C0_1_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_1_0.woff2') format('woff2'),url('/webfonts/2D95C0_1_0.woff') format('woff'),url('/webfonts/2D95C0_1_0.ttf') format('truetype');}
 
@font-face {font-family: 'Texta';font-weight: bold;font-style: normal;src: url('/webfonts/2D95C0_2_0.eot');src: url('/webfonts/2D95C0_2_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_2_0.woff2') format('woff2'),url('/webfonts/2D95C0_2_0.woff') format('woff'),url('/webfonts/2D95C0_2_0.ttf') format('truetype');}
 
@font-face {font-family: 'Texta-Light';src: url('/webfonts/2D95C0_3_0.eot');src: url('/webfonts/2D95C0_3_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_3_0.woff2') format('woff2'),url('/webfonts/2D95C0_3_0.woff') format('woff'),url('/webfonts/2D95C0_3_0.ttf') format('truetype');}
 
@font-face {font-family: 'Texta-Regular';src: url('/webfonts/2D95C0_5_0.eot');src: url('/webfonts/2D95C0_5_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_5_0.woff2') format('woff2'),url('/webfonts/2D95C0_5_0.woff') format('woff'),url('/webfonts/2D95C0_5_0.ttf') format('truetype');}
 
@font-face {font-family: 'Texta-Thin';src: url('/webfonts/2D95C0_6_0.eot');src: url('/webfonts/2D95C0_6_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2D95C0_6_0.woff2') format('woff2'),url('/webfonts/2D95C0_6_0.woff') format('woff'),url('/webfonts/2D95C0_6_0.ttf') format('truetype');}

normalize-css()
base()
c-base-font-size = 1.25rem 
c-base-size = 1.4rem
c-line-height-factor = 1.5
c-line-height = (c-base-font-size * c-line-height-factor)
c-h-margins = 15% 
c-fuego   = #C13117
c-spring  = #0C5AA7
c-spring2 = #4399CE
c-spring1 = #2072B6
c-spring3 = #72B8D8
c-spring5 = #575B5E
c-base-text = md-grey-800
c-section-center = 1000px
c-story-center = c-section-center 
c-nav-font = Texta-Black

*
  box-sizing: border-box
  
body
  font-size c-base-font-size
  line-height c-line-height
  font-family Texta-Regular
  font-style normal
  font-weight normal
  color c-base-text 
  background md-blue-200
  margin (c-base-size * 3)
  //flexbox sticky footer
  display flex
  min-height 100vh
  flex-direction column
  //end fbsf

div.header, div.footer
  background md-blue-100
  padding c-base-size
  
div.courses
  background md-blue-50
  padding c-base-size
  ul
    ul square
    li
      color md-grey-500
   
h1.title
  font-size (c-base-size * 3.5)
  font-weight bold
  font-family Texta-Black
  color c-base-text

h1,h2
  color md-blue-800
h3,h4
  color md-blue-500
  
h1
  h1()
h2
  h2()
h3
  h3()
h4
  h4()
  
.media
  display flex
  align-items flex-start
  margin-bottom 0 
.media-figure
  margin-right 1em
.media-body
  flex 1
.media-body, .media-body :last-child
  margin-bottom 0
.media-title
  margin: 0 0 .5em
.media--center
  align-items center
.media--reverse > .media-figure
  order 1
  margin 0 0 0 1em

a
  text-decoration none
  font-weight normal