extends ../views/tutorial

block subtitle
  | A Brief Overview

block version-date
  | 1 May 2015, v. 1.0
  
block content

  div.tutorial
    :markdown
      Stardog is a **_semantic graph database_** that implements RDF, SPARQL, OWL, rules, and other technologies and standards. This short document is for people who have no idea what any of those things are but who're interested in Stardog anyway!
    
      ## What is a Semantic Graph Database?
      ### What kinds of problems does it solve well?
      ## What is RDF?
      ## What is SPARQL?
      ## What is OWL?
      ## What are User-defined Rules?
      ## What is Integrity Constraint Validation?