extends layout

block content
  h1.title Stardog Tutorials 
  
  :markdown
    Welcome to the Stardog Tutorials site. Here you can learn how to use Stardog and associated tools and technologies for a great awesome.
  
    ## Beginner
    
    * Introduction to RDF and semantic graphs
    * Introduction to Linked Data
    * Introduction to REST and Semantic Technology
    * Introduction to SPARQL
   
    ## Intermediate

    * Introduction to OWL
    * Integrity Constraint Validation
    * Introduction to SWRL
    * SPARQL Overview
    
    ## Advanced
    
    * Introduction to R2RML and virtual graphs
    * Ontology Development
    * Ontology-based Data Access
    * Programming with Stardog