doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Stardog tutorials for learning a great graph awesome!j')
    meta(name='author', content= "Complexible Inc")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      block title 
    != css()

  body
    block content

    != js()